div.die {
  height: 3em;
  width: 3em;
  border-radius: 10%;
  margin: 0.25em;
  background-color: #d3d3d3;
  background-image: linear-gradient(315deg, #d3d3d3 0%, #57606f 74%);
}

div.die .spots {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.25em;
  padding: 0.25em;
}

div.die .spot,
div.die .gap {
  height: 0.666em;
  width: 0.666em;
}

div.die .spot {
  border-radius: 50%;
  background-color: white;
}

div.die .icon {
  height: 2em;
  width: 2em;
  margin: 0.5em;
  filter: invert(100%);
}
