fieldset {
  border: none;
}

fieldset > label {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
}

fieldset > input {
  background: none;
}

fieldset > input:read-only {
  border: transparent solid 1px;
  padding: 0.2em 0.3em;
  background: none;
}

fieldset > input:read-write {
  border: #ccc solid 1px;
  padding: 0.2em 0.3em;
}
