* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1em;
  font-family: Verdana, sans-serif;
  padding: 1em;
  background-image: url('iswanto-arif-682107-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  background-blend-mode: lighten;
  max-width: 1440px;
  margin: auto;
}

/* Layouts */

/* Default */
body > header {
  grid-column: 1 / span 12;
  display: flex;
  justify-content: center
}

.header-bookended {
  padding-left: 1em;
  padding-right: 1em;
}

section.crew, section.characteristics {
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.5em;
}

section.crew header, section.characteristics header {
  grid-column: span 12;
}

section.crew section, section.characteristics section {
  grid-column: span 6;
}

section.attributes, section.standings, section.resiliences {
  grid-column: span 4;
}

section.traits-and-burdens {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.5em;
  grid-auto-flow: row dense;
}

section.traits-and-burdens > header {
  grid-column: span 12;
}

section.traits-and-burdens section.standard {
  grid-column: 1 / span 6;
}

section.traits-and-burdens section {
  grid-column: 7 / span 6;
}

section.tragedy,
section.destiny {
  grid-column: span 6;
}

section.secrets-known {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.5em;
}

section.secrets-known > header {
  grid-column: span 12;
}

section.secrets-known > div.secret {
  grid-column: span 6;
}

section.powers {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.5em;
}

section.powers > header {
  grid-column: span 12;
}

section.powers > section {
  grid-column: span 3;
}

section.equipment {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.5em;
}

section.equipment > header {
  grid-column: span 12;
}

section.equipment section {
  grid-column: span 2;
}

section.advancements {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-gap: 0.5em;
}

section.advancements > header {
  grid-column: span 20;
}

section.advancements > div {
  text-align: center;
}

footer {
  grid-column: span 12;
  text-align: right;
}

/* Mobile */
@media only screen and (max-width: 425px) {
  .header-bookend {
    display: none;
  }

  section.crew,
  section.characteristics,
  section.attributes,
  section.standings,
  section.resiliences,
  section.tragedy,
  section.destiny {
    grid-column: span 12;
  }

  section.traits-and-burdens section.standard {
    grid-column: 1 / span 12 !important;
  }

  section.traits-and-burdens section {
    grid-column: 1 / span 12 !important;
  }

  section.secrets-known div.secret {
    grid-column: 1 / span 12 !important;
  }

  section.powers section {
    grid-column: 1 / span 12 !important;
  }

  section.equipment {
    grid-row-gap: 1em !important;
  }

  section.equipment section {
    grid-column: 1 / span 12 !important;
  }

  section.advancements {
    grid-template-columns: repeat(5, 1fr) !important;
  }

  section.advancements > header {
    grid-column: span 5 !important;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  section.powers section {
    grid-column: span 6 !important;
  }

  section.equipment {
    grid-row-gap: 1em !important;
  }

  section.equipment section {
    grid-column: span 4 !important;
  }

  section.advancements {
    grid-template-columns: repeat(5, 1fr) !important;
  }

  section.advancements > header {
    grid-column: span 5 !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  section.advancements {
    grid-template-columns: repeat(10, 1fr) !important;
  }

  section.advancements > header {
    grid-column: span 10 !important;
  }
}

.icon {
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

.bigicon {
  display: block:
  padding: 1em;
  height: 8em;
  width: 8em;
}

h1, h2 {
  text-align: center;
}

span.nickname::before {
  content: '- "';
}

span.nickname::after {
  content: '"';
}

body > section {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5em 1em 1em 1em;
  border-radius: 0.5em;
}

body > section > header {
  font-size: 1.4em;
  border-bottom: 1px solid grey;
  line-height: 1.6em;
}

section.crew section header, 
section.characteristics section header,
section.attributes thead, 
section.standings thead,
section.resiliences thead,
section.traits-and-burdens section header{
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
}

section.attributes table,
section.standings table,
section.resiliences table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 2% 0.5em;
  margin-top: 0.5em;
}

section.attributes table .attribute-name,
section.standings table .standing-name,
section.resiliences table .resilience-name {
  width: 49%;
}

section.attributes table .dice {
  width: 49%;
  text-align: center;
}

section.standings table .dice,
section.standings table .spent,
section.resiliences table .score,
section.resiliences table .damage {
  width: 23.5%;
  text-align: center;
}

section.traits-and-burdens section header,
section.traits-and-burdens section main {
  display: inline;
}

section.tragedy main,
section.destiny main {
  margin-top: 0.5em;
}

section.powers section header {
  font-weight: bold;
  font-size: 1.2em;
}

section.powers section.allomancy header::after {
  content: "Allomancy";
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  display: block;
  padding-top: 0.2rem;
}

section.powers section .rating::before {
  content: "Rating ";
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

section.powers section .stunts::before {
  content: "Stunts";
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

section.powers section .stunts .stunt {
  padding-left: 1em;
}

section.equipment section.prop header::after {
  content: "Prop";
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  display: block;
  padding-top: 0.2rem;
}

section.equipment section .charges::before {
  content: "Charges ";
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

section.equipment section .damage::before {
  content: "Damage ";
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

section.equipment section .range::before {
  content: "Range ";
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}


